{% extends 'base.html' %}
{% block content %}
<div class="row">                                        
    {% for i in p %}                                     
    <div class="col-md-6">                               
        <a href="{% url 'app1:detail' i.id i.slug %}"><b>{{i.title}}</b></a><br>                           
        <img src="{{i.image.url}}" alt="" height="450" width="450"><br>           
        ₹{{i.price}}                                     
        <br><br>                                  
    </div>
    {% endfor %}
</div>
{% endblock %}
